<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iplusplus.custopoly.app" >

    <application
        android:name="com.iplusplus.custopoly.Custopoly"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >

        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".GameMenuActivity"
            android:label="@string/title_activity_game_menu"
            >
        </activity>
        <activity
            android:name=".InitActivity"
            android:label="@string/title_activity_init" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreGameActivity"
            android:label="@string/title_activity_pre_game"
            >
        </activity>
        <activity
            android:name=".ShopActivity"
            android:label="@string/title_activity_shop"
            >
        </activity>
        <activity
            android:name=".ThemeSelectionActivity"
            android:label="@string/title_activity_theme_selection"
            >
        </activity>
    </application>

</manifest>
